{% extends 'base.html' %}
{% load static %}

 {% block content %}
        <!-- Page Content -->
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-info">
                            <div class="panel-body">
                                <div class="panel-wrapper collapse in" aria-expanded="true">
                                    <h3 class="box-title">Manage Campaigns</h3>
                                </div>
                                <hr />
                                <div class="row el-element-overlay m-b-20">

                                    <!-- /.usercard -->
                                    {% for item in items %}
                                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                                        <div class="white-box">
                                            <div class="el-card-item">
                                                <div class="el-card-avatar el-overlay-1 h250"> <img src="/static/hbb/{{item.image_path}}" />
                                                    <div class="el-overlay">
                                                        <ul class="el-info">
                                                            <li><a class="btn default btn-outline image-popup-vertical-fit" href="/static/hbb/{{item.image_path}}"><i class="icon-magnifier-add"></i></a></li>
                                                            <li><a class="btn default btn-outline" href="{% url 'delete_campaign' item.pk %}"><i class="icon-trash"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="el-card-content">
                                                    <h3 class="box-title f-18"> Name: {{ item.title }}</h3> <small> Created On : {{ item.date_created }}</small>
                                                    <br/> 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor  %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="white-box user-table">
                            <div class="row">
                                <div class="col-sm-6">
                                    <h4 class="box-title">All Campaigns </h4>
                                </div>
                                <div class="col-sm-6">
                                    <select class="custom-select">
                                        <option selected>Sort by</option>
                                        <option value="1">Recently Added</option>
                                        <option value="2">Date Created</option>
                                        <option value="3">Recently Modified</option>
                                    </select>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>URL</th>
                                            <th>Campaign Name</th>
                                            <th>Date Created</th>
                                            <th>Publish</th>
                                            <th>Edit</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            {% for item in items %}
                                            <td>
                                                <a href="{% url 'campaign_banner' item.auid %}" target="_blank" class="text-link" id="copyInput"> {{ item.short_link }}</a>
                                                <span class="float-right" onclick="copyFunction"><i class="btn-link btn-copy icon-docs fa-fw copy-icon font-16" aria-hidden="true"></i></span>
                                            </td>
                                            <td>{{item.title}}</td>
                                            <td> <span class="text-muted"> <i class="fa fa-clock-o"></i>&nbsp; {{ item.date_created }}</span> </td>
                                            <td>
                                                <a href="/smsform"
                                                    class="btn btn-default btn-outline btn-success btn-white font-16"><i
                                                        class="fa  fa-location-arrow" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="/edit/{{item.id}}"
                                                    class="btn btn-default btn-outline btn-warning font-16"><i
                                                        class="fa fa-edit" aria-hidden="true"></i></a>
                                            </td>
                                            <td>
                                                <a href="/campaigndetail/{{item.auid}}"
                                                    class="btn btn-default btn-outline btn-primary font-16"><i
                                                        class="fa fa-chain" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                     {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            {% if items.has_other_pages %}
                                <ul class="pagination">
                                    {% if items.has_previous %}
                                        <li><a href="?page={{ items.previous_page_number }}">&laquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&laquo;</span></li>
                                    {% endif %}
                                    {% for i in items.paginator.page_range %}
                                        {% if items.number == i %}
                                            <li class="active"><span>{{ i }} <span class="sr-only">(current) 1 </span></span></li>
                                        {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                    {% if items.has_next %}
                                        <li><a href="?page={{ items.next_page_number }}">&raquo;</a></li>
                                    {% else %}
                                        <li class="disabled"><span>&raquo;</span></li>
                                    {% endif %}
                                </ul>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

                <!-- ===== Right-Sidebar ===== -->
{% endblock %}


