{% extends 'new/base.html' %}
{% load static %}

{% block content %}
        <!-- Page Content -->
        <div class="page-wrapper bg-white">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="ptb-80 text-center">
                        <h3 class="fw600">Welcome to NovaAds!</h3>
                        <p class="f-18">Complete 2 simple steps to start advertising online</p>
                    </div>
                    <div class="col-md-4 col-md-offset-2 col-sm-12">
                        <div class="p25 upload-widget2">
                            <div class="m-auto w1p">
                                <i class="f-25 icon-paper-plane"></i>
                            </div>
                            <h4 class="box-title fw600 text-center"> Create a Campaign</h4>
                            <p class="text-center p-20">Choose your campaign's goal, audience and budget</p>
                            <div class="up-add-file t-a-c">
                                <a href="/NewCampaign" class="btn btn-primary font-16">Create Campaign</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-md-offset-0 col-sm-6">
                        <div class="p25 upload-widget2">
                            <div class="m-auto w1p">
                                <i class="f-25 icon-note"></i>
                            </div>
                            <h4 class="box-title fw600 text-center"> Manage Campaigns</h4>
                            <p class="text-center p-20">Manage your campaign promotions</p>
                            <div class="up-add-file t-a-c">
                                <a href="/AllCampaigns" class="btn btn-primary font-16"></i>Manage</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}